<a href="https://colab.research.google.com/github/Praz98/Assignment-7-EDA-ML/blob/main/T7_DataPreprocessing_Assignment11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import numpy as np
import pandas as pd

**Step 2: Importing dataset**

In [2]:
dataset = pd.read_csv('/content/Data.csv')
X = dataset.iloc[ : , :-1].values
Y = dataset.iloc[ : , 3].values

**Step 3: Handling the missing data**

In [3]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[ : , 1:3])
X[ : , 1:3] = imputer.transform(X[ : , 1:3])

**Step 4: Encoding categorical data**

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])

**Step 5: Creating a dummy variable**

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
dataset = pd.DataFrame(ct.fit_transform(dataset))
dataset

     0    1    2     3        4    5
0  1.0  0.0  0.0  44.0  72000.0   No
1  0.0  0.0  1.0  27.0  48000.0  Yes
2  0.0  1.0  0.0  30.0  54000.0   No
3  0.0  0.0  1.0  38.0  61000.0   No
4  0.0  1.0  0.0  40.0      NaN  Yes
5  1.0  0.0  0.0  35.0  58000.0  Yes
6  0.0  0.0  1.0   NaN  52000.0   No
7  1.0  0.0  0.0  48.0  79000.0  Yes
8  0.0  1.0  0.0  50.0  83000.0   No
9  1.0  0.0  0.0  37.0  67000.0  Yes

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset.iloc[:,-1] = le.fit_transform(dataset.iloc[:,-1])
dataset

     0    1    2     3        4  5
0  1.0  0.0  0.0  44.0  72000.0  0
1  0.0  0.0  1.0  27.0  48000.0  1
2  0.0  1.0  0.0  30.0  54000.0  0
3  0.0  0.0  1.0  38.0  61000.0  0
4  0.0  1.0  0.0  40.0      NaN  1
5  1.0  0.0  0.0  35.0  58000.0  1
6  0.0  0.0  1.0   NaN  52000.0  0
7  1.0  0.0  0.0  48.0  79000.0  1
8  0.0  1.0  0.0  50.0  83000.0  0
9  1.0  0.0  0.0  37.0  67000.0  1

**Step 6: Splitting the datasets into training sets and Test sets**

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.2, random_state = 0)

**Step 7: Feature Scaling**

In [8]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)